<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408524502737-t6icj28hi9gp95p8mhbu0jo5ttsea9mb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408524502737-t6icj28hi9gp95p8mhbu0jo5ttsea9mb</string>
	<key>API_KEY</key>
	<string>AIzaSyCe257-W7QCti-PdW0isxwcaNjAE4BqifM</string>
	<key>GCM_SENDER_ID</key>
	<string>408524502737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.finwallet</string>
	<key>PROJECT_ID</key>
	<string>finwallet-67858</string>
	<key>STORAGE_BUCKET</key>
	<string>finwallet-67858.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408524502737:ios:2af7f2cb96d43791de77f0</string>
</dict>
</plist>